<!DOCTYPE html5>
<html>
    <head>
        <link rel='stylesheet' type='text/css' href='{{url_for("static", filename="style.css")}}'>
        <link rel='stylesheet' type='text/css' href='{{url_for("static", filename="func.css")}}'>
    </head>
    <body>
        <div class="my-sidebar">
            <h3 class="my-margin">Menu</h3>
            <a href='/' class="my-sidebar-item">Home</a>
            <a href='/csv' class="my-sidebar-item">Submit form</a>
        </div>
        <div class="my-contents">
            {% block contents %}
            {% endblock %}
        </div>
    </body>
</html>
